.btn {
  display: inline-flex;
  background-color: pink;
  border-radius: 50%;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-style: none;
}
.btn:focus {
  outline: none;
  background-color: red;
}
